build
coverage*

# Local .terraform directories
.terraform/

# .tfstate files and backups
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which may contain sensitive data such as
# passwords, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change per environment.
# example: terraform.tfvars
# example: *.auto.tfvars
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
# and so are not checked in.
# example: override.tf
# example: override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc