AWS_ACCESS_KEY_ID=seu_access_key
AWS_SECRET_ACCESS_KEY=seu_secret_key
AWS_DEFAULT_REGION=us-east-1

S3_RAW_BUCKET=meu-projeto-datalake-raw-zone
GLUE_JOB_NAME=process-dynamo-cdc
GLUE_CRAWLER_NAME=silver_layer_crawler
GLUE_IAM_ROLE_NAME=AWSGlueServiceRoleDefault